<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Admin Login</title>
  <link rel="stylesheet" href="/stylesadmin.css">
</head>
<body>
  <div class="container">
    <h1>Welcome back Admin ...!</h1>
    
    <form action="/admin/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>
