<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .round-logo {
            width: 50px; 
            height: 50px; 
            border-radius: 50%; 
            overflow: hidden; 
        }
    </style>
    <title></title>
</head>
<body>
    <img src="https://i.postimg.cc/zfKKsQx5/eleos-1.png" alt="Logo" class="round-logo">
</body>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/user">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/user/service">Service</a>
                <a class="nav-item nav-link" href="/user/about">About Us</a>
                <a class="nav-item nav-link" href="/user/contact">Contact</a>

            </div>
        </div>
         </div>
       
          <a href="/user/send-details"
            style="background-color: #502587; padding: 1rem 3rem 1rem 3rem; text-decoration: none; color:white; border-radius:0.5rem ">Register as service provider</a>
        </div>
        
    </nav>
</header>
