<!DOCTYPE html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>EDUCATION MATERIALS</title>
</head>
<body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #FAEDED;">
<section style="background-color: #FAEDED;margin-top: -3rem; text-align: center;margin-bottom: 10rem;">
    <h1 style="font-family: calibri; font-size: 6rem;margin-bottom: 10rem; margin-top: 15rem;">EDUCATION MATERIALS</h1>
        <div class = "container" style="display: flex; align-items: center; justify-content: center; gap:3rem;">
            <a href="https://ncert.nic.in/textbook.php" style="text-decoration: none; color: black;">
            <div class = "CBSE" style="background-color: #EEECFF; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;  padding: 1rem;height:18rem;">
                <div style=" margin: 0.3rem 0 2rem;; background-color: white; border-radius: 2rem;height:12rem;">
                    <img src = "https://www.cbse.gov.in/images//logo.png" height = "150" style="padding-top: 2rem;">
                </div>
                <p style="font-family: Arial; text-align: center"><b>CBSE</b></p>
            </div>
    </a>
    
    <a href="https://samagra.kite.kerala.gov.in/#/textbook/page" style="text-decoration: none; color: black;">
        <div class = "STATE" style="background-color: #EEECFF;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height:18rem;">
            <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;height:12rem;">
                <img src = "https://gad.kerala.gov.in/sites/default/files/inline-images/kerala%20final%20emblem_0.jpg"  height="155" style="padding-top: 2rem;">
            </div>
            <p style="font-family: Arial; text-align: center;"><b>Kerala State</b></p>
        </div>    
    </a>

    <a href="https://www.studiestoday.com/icse-board-books-pdf-download#google_vignette" style="text-decoration: none; color: black;">
        <div class = "ICSE" style="background-color: #EEECFF;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height:18rem;">
            <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem; height:12rem;">
               <img src = "https://cisce.org/wp-content/uploads/2022/09/logo-cisce.webp" height="155" style="padding-top: 2rem;" >
            </div>
            <p style="font-family: Arial; text-align: center;"><b>ICSE</b></p>
        </div>  
        </div>
    </a>
    </div>
   
    <form>
    <input type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin-top:5rem;">
</form>
</section>
</body>
</html>

