<!DOCTYPE html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>INDUSTRIAL TRAINING AND JOB AID CENTERS</title>
</head>
<body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #FAEDED;">
<section style="background-color: #FAEDED;margin-top: -3rem; text-align: center;margin-bottom: 10rem;">
    <h1 style="font-family: calibri; font-size: 6rem;margin-bottom: 10rem; margin-top: 15rem;">INDUSTRIAL TRAINING AND JOB AID CENTERS</h1>

    <a href="https://www.iti.com/" style="text-decoration: none; color: black;">
        <div class = "container" style="display: flex; align-items: center; justify-content: center;">
            <div class = "Industrial Training" style="background-color: #EEECFF; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;  margin: 0rem 4rem 0rem 0rem; padding: 1rem;">
                <div style=" margin: 0.3rem 0 2rem;; background-color: white; border-radius: 2rem;">
            
                </div>
                <p style="font-family: Arial; text-align: center"><b>Industrial Training</p>
            </div>
    </a>
        
    <a href="https://www.ncs.gov.in/Pages/default.aspx" style="text-decoration: none; color: black;">
        <div class = "Job Aid Centers" style="background-color: #EEECFF;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem;">
            <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;">
                
            </div>
            <p style="font-family: Arial; text-align: center;"><b>Job Aid Centers</p>
        </div>
        
        </div>
    </a>
    <form>
    <input  type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);margin-top:5rem;">
</form>
</section>
</body>
</html>