<!DOCTYPE html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Tax and Insurance</title>
</head>
<body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #EEECFF;">
<section style="background-color: #EEECFF;margin-top: -3rem; text-align: center;margin-bottom: 10rem;">

    <h1 style="font-family: calibri; font-size: 6rem;margin-bottom: 10rem; margin-top: 15rem;">Tax and Insurance</h1>

    <h1 style="font-family: calibri; font-size: 3rem;margin-bottom: 1rem; margin-top: 5rem;">For Income Tax</h1>

    <a href="https://cleartax.in/income-tax-efiling?utm_source=google_search&utm_medium=cpc&utm_campaign=itr_2024_paid_marketing_CT_Search_Brand_New_Users_ROI&campaignid=21431458542&adgroupid=166644851200&adid=704710468690&utm_term=cleartax&utm_campaign=itr_2024_paid_marketing_CT_Search_Brand_New_Users_Blr&utm_source=adwords&utm_medium=ppc&hsa_acc=5339522363&hsa_cam=21431458542&hsa_grp=166644851200&hsa_ad=704710468690&hsa_src=g&hsa_tgt=kwd-299422455503&hsa_kw=cleartax&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw1qO0BhDwARIsANfnkv-c55ma2fyTOvL2vMotBMO3tsqaUJLVl29LkSuh2J_BOBqsIWlNMmUaAiYXEALw_wcB" style="text-decoration: none; color: black;">
        <div class = "container" style="display: flex; flex-wrap: wrap; gap:3rem; align-items: center; justify-content: center;">

            <div class = "Clear Tax" style="background-color: #FAEDED; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem; padding: 0.8rem 1rem 1rem 1rem; height: 32rem;">
                <div style=" margin: 0rem 0 2rem;; background-color: white; border-radius: 2rem; height:9rem;">
                    <img src = "https://asset.brandfetch.io/id6kT_j2v-/idXyp7lhR2.jpeg?updated=1716673050257" style="padding-top:-5rem"   height="100%" >
                </div>
                <p style="font-family: Arial; text-align: justify"><b>Clear Tax: </b>The website provides complimentary as well as paid services, thus allowing them to decide which one fulfills their needs. The website accelerates the tax filing experience and allows compliance and accuracy with options like pre-filled paperwork, automated calculation, and immediate validation.</p>
            </div>
            </a>

        
            <a href="https://myitreturn.com/" style="text-decoration: none; color: black;">
                <div class = "My IT Return" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 32rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem; text-align:center">
                        <img src="https://myitreturn.com/c/assets22/svg/logos/logo.svg?v=1.0.0" style="padding:4rem 1rem 2.5rem 1rem;"  width="200" height=100%>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>My IT Return: </b>My IT Return is an authorized e-return intermediary registered with India’s IT Department that is free to use. It has also received the AatmaNirbhar Award from MeitY, GOI. To file ITR using this website, one has to answer some basic questions related to salary, home, investments, and more. Based on the answers, the website computes the figures for ITR. These measures ensure that tax filing is easy and maximizes tax refunds.</p>
                </div>
            </a> 
            
            <a href="https://tax2win.in/" style="text-decoration: none; color: black;">
                <div class = "Tax 2 Win" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 32rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;height:9rem;">
                        <img src = "https://bsmedia.business-standard.com/_media/bs/img/article/2020-08/14/full/20200814153206.jpg" style="padding:-4rem 1rem 2.5rem 1rem;"  height="100%">
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Tax 2 Win: </b>Tax 2 Win is an e-filing portal that lets taxpayers file ITR on their own for free. All you need to do is log in to create a new account, select sources of income, provide necessary details, or upload Form 16, then choose between old and new tax regimes and e-file income tax.</p>
                </div>
             </a>  

             <h1 style="font-family: calibri; font-size: 3rem;margin-bottom: 1rem; margin-top: .8rem;">For Insurance</h1>

    <a href="https://licindia.in/" style="text-decoration: none; color: black;">
        <div class = "container" style="display: flex; flex-wrap: wrap; gap:3rem; align-items: center; justify-content: center;">

            <div class = "LIC Life Insurance" style="background-color: #FAEDED; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem; padding: 0.8rem 1rem 1rem 1rem; height: 32rem;">
                <div style=" margin: 0rem 0 2rem;; background-color: white; border-radius: 2rem;height:9rem;">
                    <img src = "https://www.licindia.in/o/lic-theme/images/lic_logo.png" style="padding:2rem 1rem 1.3rem 1rem;"  height=100% >
                </div>
                <p style="font-family: Arial; text-align: justify"><b> LIC Life Insurance: </b>LIC is one of the largest insurance companies in India established in 1956 that offers a wide range of insurance products.
LIC stands out in terms of Claim Settlement Ratio (CSR), Amount Settlement Ratio (ASR), and complaint volume, despite a slightly higher complaint volume due to its large business average.</p>
            </div>
            </a>

        
            <a href="https://www.maxlifeinsurance.com/term-insurance-plans/premium-calculator?utmCode=1311271&utm_theme=FreeTrop&utm_source=google&utm_medium=cpc&utm_campaign=1_Brand_Exact_CitiesNew&utm_term=max%20life%20insurance&gclid=Cj0KCQjw1qO0BhDwARIsANfnkv838SW2hXsZWpTQUAbpogMsUFY54IjEflFtBv-C5AE9VWV3tXsg4YsaAnNvEALw_wcB" style="text-decoration: none; color: black;">
                <div class = "Max Life Insurance" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 32rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem; text-align:center;height:9rem;">
                        <img src="https://www.maxlifeinsurance.com/static-page/assets/homepage/maxlogo.svg" style="padding:2rem 2rem 2.5rem 1rem;" height=100%>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b> Max Life Insurance: </b>This insurance company offers a comprehensive range of savings, long-term, and retirement policies with its multi-channel distribution and high service providing agencies.
Max Life Insurance excels based on Claim Settlement Ratio (CSR), Amount Settlement Ratio (ASR), and complaint volume data over the last three years.
Its strong client base and extensive insurance history further affirm its credibility.</p>
                </div>
            </a> 
            
            <a href="https://www.adityabirlacapital.com/campaign/healthinsurance?utm_source=Affiliate_DR&utm_campaign=3103507a692b1075613d7b101355cd4b&utm_content=Admitad_1560786_lb_4w3tujm&utm_adid=38&utm_term=Trackier" style="text-decoration: none; color: black;">
                <div class = "Aditya Birla Sun Life Insurance Co. Ltd" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 32rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;height:9rem;">
                        <img src = "https://www.adityabirla.com/assets/images/aditya-birla-group-logo.jpg" style="padding:2rem 1rem 2.5rem 1rem;"  height=120%>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Aditya Birla Sun Life Insurance Co. Ltd : </b>The company offers a wide range of insurance products and serves pan-India customers as it has over 1,403 branches across the country.
Aditya Birla Sun Life has impressive CSR, ASR, and complaint volume metrics. Although its average annual business value is not exceptionally high, the insurer is progressing well.</p>
                </div>
             </a>  
             
        </div>
         <form>
    <input style="position: absolute; top: 1800px; left: 590px;margin-top:5rem;" type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
</form>
</section>
</body>
</html>