<!DOCTYPE html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tax and Insurance</title>
</head>
<body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #EEECFF;">
<section style="background-color: #EEECFF;margin-top: -3rem; text-align: center;margin-bottom: 10rem;">
    <h1 style="font-family: calibri; font-size: 6rem;margin-bottom: 10rem; margin-top: 15rem;">Loan Details</h1>
    <a href="https://tatacapitalpartners.com/" style="text-decoration: none; color: black;">
        <div class = "container" style="display: flex; flex-wrap: wrap; gap:3rem; align-items: center; justify-content: center;">

            <div class = "Tata Capital" style="background-color: #FAEDED; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem; padding: 0.8rem 1rem 1rem 1rem; height: 30rem;">
                <div style=" margin: 0rem 0 2rem;; background-color: white; border-radius: 2rem;height:11.7rem;">
                    <img src = "https://tatacapitalpartners.com/wp-content/uploads/2024/03/tata-header-logo.svg-1.png" style="padding:5rem 1rem 1.3rem 1rem;" height=70% >
                </div>
                <p style="font-family: Arial; text-align: justify"><b>Tata Capital: </b>Tata Capital is one of the best quick personal loan providers. Instant approval and quick disbursal make it a preferred choice for those in urgent need of funds. This expedited process can significantly reduce waiting times compared to traditional lending institutions.</p>
            </div>
            </a>

            <a href="https://www.adityabirlacapital.com/campaign/personalloan/diy?utm_source=ABCD&utm_medium=ABCD_DR0042&utm_campaign=ABCD_DR0042_pubid_SUBPUBID" style="text-decoration: none; color: black;">
                <div class = "Adithya Birla capital" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 30rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem; text-align:center;height:11.7rem;">
                        <img src="https://abchflprod.azureedge.net/-/media/Feature/ABCL/ABFL/SVG-Icons-Header-and-footer/132-x-64-abfl.webp?extension=webp&revision=c320c3d3-6756-48de-b2c0-a0f58d3c71e4&modified=20240405104146&h=64&w=132&la=en&hash=4837BC9A419BBD2DE2F7F94B081B81B4" style="padding:4rem 1rem 2.5rem 1rem;"  width="200" height=100%>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Adithya Birla capital: </b>It is the best overall for getting online and easy personal loans of any amount of 1-50 Lakh Rupees at attractive interest rates (13-28%) and flexible repayment tenure of (1-7 years).</p>
                </div>
            </a> 
            
            <a href="https://myaccount.indusind.com/savingsaccount/index.aspx?utm_code=z_mktgcamp&utm_campaign=SA-PER-SKAG-Brand-Borad-08-April-24&utm_source=google-per&utm_medium=search&utm_content=brand-broad-2&utm_keyword=indusind%20bank&utm_matchtype=b&gad_source=1&gclid=Cj0KCQjw1qO0BhDwARIsANfnkv8CwopcRjsi15fOopdum-Q1RF7qnwbW2UrKJ9UNPHyq5Q_lGdwyr1caAkKwEALw_wcB" style="text-decoration: none; color: black;">
                <div class = "IndusInd bank" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 30rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem; height:11.7rem;">
                        <img src = "https://www.indusind.com/content/dam/indusind-platform-images/home/desktop-img/indusind-bank1.png" style="padding:5rem 1rem 2.5rem 1rem;" height=75%>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>IndusInd bank </b>IndusInd is the best bank to get instant online personal loans at attractive rates with flexible repayment tenures. It has an easy application process and is completely hassle-free.</p>
                </div>
             </a>  

             <a href="https://canarabank.com/canara-budget" style="text-decoration: none; color: black;">
        <div class = "container" style="display: flex; flex-wrap: wrap; gap:3rem; align-items: center; justify-content: center;">

            <div class = "Canarabank" style="background-color: #FAEDED; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem; padding: 0.8rem 1rem 1rem 1rem; height: 30rem;">
                <div style=" margin: 0rem 0 2rem;; background-color: white; border-radius: 2rem;height:11.7rem;">
                    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh07jmmWrC0liNTu-DVyi6pH-R8mQSHspo0g&s" style="padding:2rem 2rem 0.1rem 2rem;" height=70% >
                </div>
                <p style="font-family: Arial; text-align: justify"><b>Canarabank: </b>Canara Bank became the first Indian Bank to get ISO certification for "Total Branch Banking" for its Seshadripuram branch in Bangalore. Canara Bank has now stopped opting for ISO certification of branches.</p>
            </div>
            </a>

        
            <a href="https://sbi.co.in/web/personal-banking/loans/personal-loans" style="text-decoration: none; color: black;">
                <div class = "SBI" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 30rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem; text-align:center;height:11.7rem;">
                        <img src="https://i.pinimg.com/originals/2a/2c/1d/2a2c1d90075390b22e7e6060254dab0d.jpg" style="padding:4rem 1rem 2.5rem 1rem;"  width="200" height=100%>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>SBI: </b>largest bank in the world by total assets and ranked 221st in the Fortune Global 500 list of the world's biggest corporations of 2020, being the only Indian bank on the list.It is a public sector bank and the largest bank in India with a 23% market share by assets and a 25% share of the total loan and deposits market.
                    </p>
                </div>
            </a> 
            
            <a href="https://www.federalbank.co.in/personal-loans" style="text-decoration: none; color: black;">
                <div class = "federalbank" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 30rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem; height:11.7rem;">
                        <img src = "https://mir-s3-cdn-cf.behance.net/projects/404/7d33a8184060495.Y3JvcCwxMzgwLDEwODAsMjcwLDA.png" style="padding:2rem 1rem 0rem 1rem;" height=75%>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>federalbank: </b>Ageas Federal Life Insurance Company Limited-Ageas Federal is a joint venture between Ageas Insurance International NV, a multinational insurance giant based out of Europe and Federal Bank. Federal Banks holds 26% stake in the company.
Equirus Capital Private Limited-Federal Banks holds 19.79% stake in the company.</p>
                </div>
             </a>  

        </div>
         <form>
    <input style="position: absolute; top: 1500px; left: 590px;margin-top:5rem;" type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
</form>
</section>
</body>
</html>