<!DOCTYPE html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Government Schemes</title>
</head>
<body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #FAEDED;">
<section style="background-color: #FAEDED;margin-top: -3rem; text-align: center;margin-bottom: 10rem;">
    <h1 style="font-family: calibri; font-size: 6rem;margin-bottom: 10rem; margin-top: 15rem;">Government Schemes</h1>

    <a href="https://pib.gov.in/PressReleaseIframePage.aspx?PRID=2002012#:~:text=PMKMY%20is%20taking%20care%20of,through%20CSC%20and%20State%20Govts." style="text-decoration: none; color: black;">
        <div class = "container" style="display: flex; align-items: center; justify-content: center;">

            <div class = "For Farmers" style="background-color: #EEECFF; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;  margin: 0rem 4rem 0rem 0rem; padding: 1rem;">
                <div style=" margin: 0.3rem 0 2rem;; background-color: white; border-radius: 2rem;">
            
                </div>
                <p style="font-family: Arial; text-align: center"><b>For Farmers</p>
            </div>
    </a>

        
    <a href="https://wcd.kerala.gov.in/beneficiary-info.php?benef_sl=MWRXOG5xUyN2eQ==" style="text-decoration: none; color: black;">
        <div class = "For Women" style="background-color: #EEECFF;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem;">
            <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;">
                
            </div>
            <p style="font-family: Arial; text-align: center;"><b>For Women</p>
        </div>
        
        </div>
    </a>

    <body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #FAEDED;">
<section style="background-color: #FAEDED;margin-top: 5rem; text-align: center;margin-bottom: 10rem;">
    
    <a href="https://wcd.kerala.gov.in/beneficiary-info.php?benef_sl=MmRXOG5xUyN2eQ==" style="text-decoration: none; color: black;">
        <div class = "container" style="display: flex; align-items: center; justify-content: center;">

            <div class = "For Children" style="background-color: #EEECFF; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;  margin: 0rem 4rem 0rem 0rem; padding: 1rem;">
                <div style=" margin: 0.3rem 0 2rem;; background-color: white; border-radius: 2rem;">
            
                </div>
                <p style="font-family: Arial; text-align: center"><b>For Children</p>
            </div>
    </a>

        
    <a href="https://scdd.kerala.gov.in/index.php/schemes#:~:text=Annual%20income%20of%20parents%20should,12%2C000%20as%20their%20annual%20income.&text=The%20Department%20runs%2087%20hostels%20for%20providing%20hostel%20facilities%20for%20SC%20students." style="text-decoration: none; color: black;">
        <div class = "For Students" style="background-color: #EEECFF;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem;">
            <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;">
                
            </div>
            <p style="font-family: Arial; text-align: center;"><b>For Students</p>
        </div>
        
        </div>
    </a>
    <form>
    <input style="position: absolute; top: 850px; left: 590px;margin-top:5rem;" type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
</form>



</section>
</body>
</html>