<!DOCTYPE html>
<body>
  
  <div class="card bg-dark text-white">
  <img class="card-img" src="https://media.istockphoto.com/id/466094630/ru/%D1%84%D0%BE%D1%82%D0%BE/%D1%81%D0%BD%D0%B0%D0%B1%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BF%D0%B8%D1%82%D1%8C%D0%B5%D0%B2%D0%BE%D0%B9-%D0%B2%D0%BE%D0%B4%D0%BE%D0%B9.jpg?s=612x612&w=0&k=20&c=blxANaLja7c5osQ6A4IM8OJDaO0J2n4-egk-rInq2-4=" alt="Card image">
  <div class="card-img-overlay">
    <h1 style="font-size: 50px;font-family: Palatino Linotype; position: absolute; top: 10px; left: 220px; color: rgb(0, 57, 132)" >WELCOME TO HOUSING SERVICE</h1>
    <p style="position: absolute; top: 80px; left: 450px;font-size: 35px;font-family: Palatino Linotype;color: rgb(0, 57, 132)">Enter a place to find nearby food and water supply</p>
    <div style="position: absolute; top: 180px; left: 800px;">
    <form action="/user/service/education/Nearby_education_institutions" method="get">
        <label for="content" style="color: rgb(255, 255, 255);">Enter a place:</label>
        <input type="text" id="content" name="content">
        <button style="background-color: rgb(0, 57, 132); color: rgb(255, 255, 255);" type="submit">submit</button>
        <form>
    <input type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(0, 57, 132); color: rgb(255, 255, 255);margin-top:5rem;">
</form>

    </form>
</div>
  </div>
</div>


</body>