<!DOCTYPE html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>House Renting/Purchase</title>
</head>
<body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #EEECFF;">
<section style="background-color: #EEECFF;margin-top: -3rem; text-align: center;margin-bottom: 10rem;">

    <h1 style="font-family: calibri; font-size: 6rem;margin-bottom: 10rem; margin-top: 15rem;">House Renting/Purchase</h1>

    
        <div class = "container" style="display: flex; flex-wrap: wrap; gap:3rem; align-items: center; justify-content: center;margin-bottom:5rem;">
            <a href="https://www.99acres.com/" style="text-decoration: none; color: black;">
            <div class = "99 Acres.com" style="background-color: #FAEDED; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem; padding: 0.8rem 1rem 1rem 1rem; height: 27rem;">
                <div style=" margin: 0rem 0 2rem;; background-color: white; border-radius: 2rem; height:9rem;">
                    <img  alt="99acreslogo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/99acreslogo.png/512px-99acreslogo.png?20200219071829" height="100" style="padding-top: 2rem;" >
                </div>
                <p style="font-family: Arial; text-align: justify"><b>99 Acres.com: </b>99 Acres covers every single aspect of the real estate industry. It is the platform that allows information sharing between buyers, sellers, and brokers to get the right deal for everyone. The platform has been considered as one of the top real estate websites for best property deals.</p>
            </div>
            </a>

        
            <a href="https://www.homebazaar.com/?utm_source=google&utm_medium=cpc&utm_campaign=HB%20Brand%20Official&utm_term=homebazaar&utm_Physical_Location=9149595&utm_Tragetid=kwd-851058224097&utm_Target=&utm_Placement=&utm_Adposition=&gad_source=1&tm=tt&gclid=Cj0KCQjw1qO0BhDwARIsANfnkv-q7_HZZ3fQqtq6FnMboQKlsgQ2nwhvRLOG0iKn7z_2cq3p_Os4_34aAnQoEALw_wcB&aaid=adaIzTEVeVFZe" style="text-decoration: none; color: black;">
                <div class = "HomeBazaar.com" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 27rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem; text-align:center;height:9rem;">
                        <img src="https://www.homebazaar.com/static/images/home-bazaar-logo.svg " height="90" style="padding-top: 3.5rem;">
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>HomeBazaar.com: </b>Homebazaar.com is an online real estate platform that is built to redefine property buying, renting, and selling processes. 

Homebazaar.com provides modern tools and features to simplify property buying, selling, and renting. And helps the user to take smart and effective decisions. </p>
                </div>
            </a> 
            
            <a href="https://www.magicbricks.com/?mbtracker=google_paid_brand_other&ccode=brand_1_sem&gad_source=1&gclid=Cj0KCQjw1qO0BhDwARIsANfnkv9h0zHcxWHWwFabh36MhEJgSqWwh60SVOucTbUQmQ_6dx4cwcyj8AwaAvWtEALw_wcB" style="text-decoration: none; color: black;">
                <div class = "MagicBricks" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 27rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;height:9rem;">
                        <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA7wBpXvTThnCZKZNPiJrRNnYPRSrsEknBlQ&s" style="padding:2rem 1rem 3rem 1rem;"  width="200" height=100%>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>MagicBricks: </b>Magic Bricks real estate portal brings together buyers, sellers, and agents for effective real estate transactions. The website provides easy to use dashboard so that property finding and listing becomes effective. </p>
                </div>
             </a>  

             <a href="https://www.commonfloor.com/" style="text-decoration: none; color: black;">
                <div class = "CommonFloor" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 27rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;height:9rem;">
                        <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxVKNSKN6CWOi21rsdF2-sGKyE7KW91CTv0Q&s" style="padding:2rem 1rem 2.5rem 1rem;"  width="150" height="150">
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>CommonFloor: </b>The platform covers more than 200 cities in India and provides services to property buyers and sellers. Commonfloor.com also provides some key modern features which benefit the buyers and sellers in getting better real estate deals.</p>
                </div>
             </a>
            
            <a href="https://housing.com/?gad_source=1&gclid=Cj0KCQjw1qO0BhDwARIsANfnkv-zHNXpEbw_l5wkQnSXDXwLhoxV17Cz8ZMaVeeAFN7fwuCZjlra5FgaAiW7EALw_wcB" style="text-decoration: none; color: black;">
                <div class = "Housing" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 27rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;height:9rem;">
                        <img src = "https://mir-s3-cdn-cf.behance.net/projects/404/d74a4f131114031.Y3JvcCwyNjUyLDIwNzQsMTA3NiwzMTU.jpg" style="padding:1rem 1rem 2.5rem 1rem;"  width="200" height="115%">
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Housing: </b>Housing provides four key real estate services such as Buy, Rent, Co-Living, and Plots. 

All these services are backed up by the web platform that connects every single element on the real estate deal. The sellers and can list their properties and buyers get easy access to the various property options.</p>
                </div>
             </a>

             <a href="https://www.olx.in/en-in/attingal_g4395811/properties_c3" style="text-decoration: none; color: black;">
                <div class = "OLX" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 27rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;height:9rem;">
                        <svg style="padding:1rem 1rem 2.5rem 1rem;"  width="200" height="115%" viewBox="0 0 1024 1024" data-aut-id="icon" class="" fill-rule="evenodd"><path class="rui-w4DG7" d="M661.333 256v512h-128v-512h128zM277.333 298.667c117.824 0 213.333 95.531 213.333 213.333s-95.509 213.333-213.333 213.333c-117.824 0-213.333-95.531-213.333-213.333s95.509-213.333 213.333-213.333zM794.496 384l37.504 37.504 37.504-37.504h90.496v90.496l-37.504 37.504 37.504 37.504v90.496h-90.496l-37.504-37.504-37.504 37.504h-90.496v-90.496l37.504-37.504-37.504-37.504v-90.496h90.496zM277.333 426.667c-47.061 0-85.333 38.293-85.333 85.333s38.272 85.333 85.333 85.333c47.061 0 85.333-38.293 85.333-85.333s-38.272-85.333-85.333-85.333z"></path></svg>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>OLX: </b>OLX Group is one of the world’s fastest-growing networks of trading platforms, operating in 30+ countries around the world. OLX Group helps people buy and sell cars, find housing, get jobs, buy and sell household goods, and much more. </p>
                </div>
             </a>
        </div>
<form>
    <input style="position: absolute; top: 1400px; left: 590px; margin-top:5rem;" type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
</form>

    

</section>



</body>
</html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S for service</title>
    <link rel="stylesheet" href="/styles/style1.css">
</head>
<head>
  <title>Link Redirection Example</title>
</head>
<body>
  
  <div class="card bg-dark text-white">
  <img class="card-img" src="https://images.unsplash.com/photo-1459533366051-65646610382c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image">
  <div class="card-img-overlay">
    <h1 style="font-size: 70px;font-family: Palatino Linotype; position: absolute; top: 120px; left: 70px; color: rgb(255, 0, 0)" >WELCOME TO HOUSING SERVICE</h1>
    <p style="position: absolute; top: 260px; left: 200px;font-size: 35px;font-family: Palatino Linotype;color: rgb(255, 0, 0)">Enter a place to find property for buy or rent</p>
    <div style="position: absolute; top: 400px; left: 650px;">
    <form action="/user/service/transportation/vehicleservicecenters/vehiclecenters" method="get">
        <label for="content" style="color: white;">Enter a place:</label>
        <input type="text" id="content" name="content">
        <button style="background-color: rgb(12, 73, 126); color: white;" type="submit">submit</button>
        <form>
    <input type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(12, 73, 126); color: white;">
</form>

    </form>
</div>
  </div>
</div>


</body>
</html>
