<!DOCTYPE html>
<body>
  
  <div class="card bg-dark text-white">
  <img class="card-img" src="https://media-s3-us-east-1.ceros.com/national-safety-council/images/2022/05/27/158060d263933545156dc17860d13c72/1178344487.jpg?imageOpt=1&fit=bounds&width=1202" alt="Card image">
  <div class="card-img-overlay">
    <h1 style="font-size: 50px;font-family: Palatino Linotype; position: absolute; top: 50px; left: 80px; color: rgb(0, 0, 0)" >WELCOME TO HOUSING SERVICE</h1>
    <p style="position: absolute; top: 350px; left: 150px;font-size: 35px;font-family: Palatino Linotype;color: rgb(0, 0, 0)">Enter a place to find nearby home services</p>
    <div style="position: absolute; top: 390px; left: 400px;">
    <form action="/user/service/housing/House_service" method="get">
        <label for="content" style="color: rgb(0, 0, 0);">Enter a place:</label>
        <input type="text" id="content" name="content">
        <button style="background-color: rgb(144, 19, 0); color: white;" type="submit">submit</button>
        <form>
    <input type="button" value="Go Back" onclick="history.back()" style="background-color:  rgb(144, 19, 0); color: white;margin-top:5rem;">
</form>

    </form>
</div>
  </div>
</div>


</body>
