<!DOCTYPE html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Travel Booking</title>
</head>
<body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #EEECFF;">
<section style="background-color: #EEECFF;margin-top: -3rem; text-align: center;margin-bottom: 10rem;">

    <h1 style="font-family: calibri; font-size: 6rem;margin-bottom: 10rem; margin-top: 15rem;">Travel Booking</h1>

    <a href="https://www.redbus.in/" style="text-decoration: none; color: black;">
        <div class = "container" style="display: flex; flex-wrap: wrap; gap:3rem; align-items: center; justify-content: center;">

            <div class = "Red_Bus" style="background-color: #FAEDED; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem; padding: 0.8rem 1rem 1rem 1rem; height: 21rem;">
                <div style=" margin: 0rem 0 2rem;; background-color: white; border-radius: 2rem;">
                    <img src = "https://static-00.iconduck.com/assets.00/redbus-icon-2048x1330-1ix5zxcl.png" style="padding:4rem 1rem 1.3rem 1rem;"  width="125" height=100% >
                </div>
                <p style="font-family: Arial; text-align: justify"><b>Red Bus: </b>Book bus tickets online with RedBus for convenient travel across India. Explore a wide range of routes and enjoy reliable service.</p>
            </div>
            </a>

        
            <a href="https://www.goibibo.com/" style="text-decoration: none; color: black;">
                <div class = "goibibo" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 21rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem; text-align:center">
                        <img src=" https://iconape.com/wp-content/png_logo_vector/goibibo-logo.png" style="padding:4rem 1rem 2.5rem 1rem;"  width="200" height=100%>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Goibibo: </b>Plan your travels effortlessly with Goibibo. Book flights, hotels, and buses, and get great deals with user-friendly booking options.</p>
                </div>
            </a> 
            
            <a href="https://www.makemytrip.com/" style="text-decoration: none; color: black;">
                <div class = "MakeMyTrip" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 21rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;">
                        <img src = "https://iconape.com/wp-content/png_logo_vector/makemytrip-logo.png" style="padding:4rem 1rem 2.5rem 1rem;"  width="200" height=100%>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Make My Trip: </b>Discover seamless travel planning with MakeMyTrip. Book flights, hotels, and holiday packages with ease, ensuring a memorable journey.</p>
                </div>
             </a>  

             <a href="https://www.yatra.com/" style="text-decoration: none; color: black;">
                <div class = "Yatra" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 21rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;">
                        <img src = "https://seeklogo.com/images/Y/yatra-com-logo-523D4F386B-seeklogo.com.png" style="padding:4rem 1rem 2.5rem 1rem;"  width="150" height=100%>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Yatra: </b>This website is one of the largest online travel agencies in India and offers a wide range of travel services, including flights, hotels, and car rentals .</p>
                </div>
             </a>
            
            <a href="https://www.cleartrip.com/flights?utm_source=google&utm_medium=cpc&utm_campaign=BR_Cleartrip-Desktab&dxid=Cj0KCQjw1qO0BhDwARIsANfnkv9R105fdFuMM6IbEjcF0f3pDmH4-88LHwf_FWhSugePKtSk1qtsKIsaAmeTEALw_wcB&gad_source=1&gclid=Cj0KCQjw1qO0BhDwARIsANfnkv9R105fdFuMM6IbEjcF0f3pDmH4-88LHwf_FWhSugePKtSk1qtsKIsaAmeTEALw_wcB" style="text-decoration: none; color: black;">
                <div class = "ClearTrip" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 21rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem 0; height:9.8rem; ">
                        <img src="https://searchlogovector.com/wp-content/uploads/2019/02/cleartrip-logo-vector.png" style="padding:4rem 1rem 2.5rem 1rem; margin:-2rem 0 0 0;"  height="130%">
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Cleartrip: </b>Cleartrip is one of the largest online travel agencies in India and offers a wide range of travel services, including flights, hotels, and car rentals .</p>
                </div>
             </a>

             <a href="https://www.easemytrip.com/?utm_campaign=788997081&utm_source=g_c&utm_medium=cpc&utm_term=e_easemytrip&adgroupid=39319940377&gad_source=1&gclid=Cj0KCQjw1qO0BhDwARIsANfnkv_FClOoBWek9OfcwZdlWOK3JXs5999cqSSxqfju3ocHTb8f92W6lZcaApsfEALw_wcB" style="text-decoration: none; color: black;">
                <div class = "Easemytrip" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 21rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem; height:9.8rem; ">
                     <img  alt="EaseMyTrip Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/EaseMyTrip_Logo.svg/512px-EaseMyTrip_Logo.svg.png?20240107203201" style="padding:3rem 1rem 4rem 1rem;" height="115%">
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>EaseMyTrip: </b>This website is one of the fastest-growing online travel agencies in India and offers a wide range of travel services, including flights, hotels, and car rentals .</p>
                </div>
             </a>
        </div>
         <form>
    <input style="position: absolute; top: 1300px; left: 590px;margin-top:5rem;" type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
</form>
</section>
</body>
</html>