<!DOCTYPE html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Buy and Selling</title>
</head>
<body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #FAEDED;">
<section style="background-color: #FAEDED;margin-top: -3rem; text-align: center;margin-bottom: 10rem;">

    <h1 style="font-family: calibri; font-size: 6rem;margin-bottom: 10rem; margin-top: 15rem;">Buy and Selling</h1>

    <a href="https://www.olx.in/" style="text-decoration: none; color: black;">
        <div class = "container" style="display: flex; flex-wrap: wrap; gap:3rem; align-items: center; justify-content: center;">

            <div class = "olx" style="background-color: #EEECFF; border-radius: 2rem; border: solid #3B577C 1px; width: 21rem; padding: 0.8rem 1rem 1rem 1rem; height: 23rem;">
                <div style=" margin: 0rem 0 2rem;; background-color: white; border-radius: 2rem;">
                    <svg style="padding:4rem 1rem 2.5rem 1rem" width="80" height="100%" viewBox="0 0 1024 1024" data-aut-id="icon" class="" fill-rule="evenodd"><path class="rui-w4DG7" d="M661.333 256v512h-128v-512h128zM277.333 298.667c117.824 0 213.333 95.531 213.333 213.333s-95.509 213.333-213.333 213.333c-117.824 0-213.333-95.531-213.333-213.333s95.509-213.333 213.333-213.333zM794.496 384l37.504 37.504 37.504-37.504h90.496v90.496l-37.504 37.504 37.504 37.504v90.496h-90.496l-37.504-37.504-37.504 37.504h-90.496v-90.496l37.504-37.504-37.504-37.504v-90.496h90.496zM277.333 426.667c-47.061 0-85.333 38.293-85.333 85.333s38.272 85.333 85.333 85.333c47.061 0 85.333-38.293 85.333-85.333s-38.272-85.333-85.333-85.333z"></path></svg>
                </div>
                <p style="font-family: Arial; text-align: justify"><b>Olx: </b>Buy and sell goods online effortlessly with OLX. Explore a wide variety of products from cars and electronics to furniture and fashion items. Connect with local buyers and sellers easily, making transactions simple and convenient.</p>
            </div>
            </a>
        </div>
        <form>
    <input style="position: absolute; top: 950px; left: 580px;" type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(0, 0, 0); color: rgb(0, 0, 0);margin-top:5rem;">
</form>
</section>
</body>
</html>