<!DOCTYPE html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Public Transportation Timings</title>
</head>
<body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #FAEDED;">
<section style="background-color: #FAEDED;margin-top: -3rem; text-align: center;margin-bottom: 10rem;">

    <h1 style="font-family: calibri; font-size: 6rem;margin-bottom: 10rem; margin-top: 15rem;">Public Transportation Timings</h1>

    
    <a href="https://www.redbus.in/" style="text-decoration: none; color: black;">
        <div class = "container" style="display: flex; flex-wrap: wrap; gap:3rem; align-items: center; justify-content: center;">

            <div class = "Bus" style="background-color: #EEECFF; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem; padding: 0.8rem 1rem 1rem 1rem; height: 25rem;">
                <div style=" margin: 0rem 0 2rem;; background-color: white; border-radius: 2rem;">
                    <svg style="padding:4rem 1rem 2rem 1rem; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 800" width="70" height="100"><path d="M179.237 0C138.982 0 83.388 11.502 60.384 21.087c-23.004 9.585-38.34 19.17-43.132 43.132L0 197.06v183.045h29.712v28.705c0 35 51.218 35 51.218 0v-28.705h193.164v28.705c0 35 51.218 35 51.218 0v-28.705h29.712V197.06L337.772 64.219c-4.792-23.962-20.128-33.547-43.132-43.132C271.636 11.502 216.042 0 175.787 0"></path><path fill="#fff" d="M299.682 322.723c13.568 0 24.568-11.002 24.568-24.57s-11-24.57-24.568-24.57c-13.568 0-24.569 11.002-24.569 24.57s11.001 24.57 24.569 24.57zM55.342 322.723c-13.568 0-24.568-11.002-24.568-24.57s11-24.57 24.568-24.57c13.568 0 24.569 11.002 24.569 24.57s-11.001 24.57-24.569 24.57zM175.612 55.113h-71.136c-14.378 0-14.378-21.566 0-21.566h146.072c14.378 0 14.378 21.566 0 21.566h-74.936zm0 21.774H65.715c-15.188 0-19.156 7.717-21 19.423l-13.428 96.348c-1.252 9.235 1.419 18.402 14.178 18.402h264.094c12.759 0 15.43-9.167 14.178-18.402L310.309 96.31c-1.844-11.706-5.812-19.423-21-19.423H175.612z"></path></svg>
                    
                </div>
                <p style="font-family: Arial; text-align: justify"><b>Bus: </b>Experience exceptional care for your Benz at our certified service center. Our expert technicians use state-of-the-art equipment and genuine parts to ensure your vehicle runs smoothly and safely. Trust us for routine maintenance, diagnostics, and repairs, all delivered with unparalleled customer service.</p>
            </div>
            </a>

        
            <a href="https://www.irctc.co.in/nget/train-search" style="text-decoration: none; color: black;">
                <div class = "Train" style="background-color: #EEECFF;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 25rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem; text-align:center">
                        <svg style="padding:4rem 1rem 2.5rem 1rem; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" width="120" height="90" id="bus"><path fill="none" d="M0 0h48v48H0z"></path><path d="M8 32c0 1.77.78 3.34 2 4.44V40c0 1.1.9 2 2 2h2a2 2 0 0 0 2-2v-2h16v2a2 2 0 0 0 2 2h2c1.1 0 2-.9 2-2v-3.56c1.22-1.1 2-2.67 2-4.44V12c0-7-7.16-8-16-8S8 5 8 12v20zm7 2c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm18 0c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-12H12V12h24v10z"></path></svg>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Railway: </b>Keep your Audi in peak condition with our dedicated service center. Our skilled technicians provide comprehensive maintenance and repair services using advanced tools and genuine Audi parts. Enjoy prompt, reliable service tailored to your vehicle's needs, ensuring optimal performance and longevity.</p>
                </div>
            </a> 
            
            <a href="https://www.makemytrip.com/flights/" style="text-decoration: none; color: black;">
                <div class = "Flight" style="background-color: #EEECFF;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 25rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="90" viewBox="-17 -15 60 60" id="flight"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M21 14.58c0-.36-.19-.69-.49-.89L13 9V3.5c0-.83-.67-1.5-1.5-1.5S10 2.67 10 3.5V9l-7.51 4.69c-.3.19-.49.53-.49.89 0 .7.68 1.21 1.36 1L10 13.5V19l-1.8 1.35c-.13.09-.2.24-.2.4v.59c0 .33.32.57.64.48L11.5 21l2.86.82c.32.09.64-.15.64-.48v-.59c0-.16-.07-.31-.2-.4L13 19v-5.5l6.64 2.08c.68.21 1.36-.3 1.36-1z"></path></svg>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Flight: </b>Ensure your Suzuki remains in excellent condition at our authorized service center. Our experienced technicians offer a full range of services, from regular maintenance to intricate repairs, using genuine Suzuki parts. Trust us to keep your vehicle performing at its best with prompt and dependable service.</p>
                </div>
             </a>  

        </div>
</section>
</body>
</html>