<!DOCTYPE html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Vehicle service Centers</title>
</head>
<body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #EEECFF;">
<section style="background-color: #EEECFF;margin-top: -3rem; text-align: center;margin-bottom: 10rem;">

    <h1 style="font-family: calibri; font-size: 6rem;margin-bottom: 10rem; margin-top: 15rem;">Vehicle Service Centers</h1>

    <a href="https://www.mercedes-benz.co.in/passengercars/services/maintenance.html" style="text-decoration: none; color: black;">
        <div class = "container" style="display: flex; flex-wrap: wrap; gap:3rem; align-items: center; justify-content: center;">

            <div class = "Benz" style="background-color: #FAEDED; border-radius: 2rem; border: solid #3B577C 1px; width: 20rem; padding: 0.8rem 1rem 1rem 1rem; height: 28rem;">
                <div style=" margin: 0rem 0 2rem;; background-color: white; border-radius: 2rem;">
                    <svg style="padding:4rem 1rem 2.5rem 1rem ;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="mercedes-benz" width = "85" height = 100%><path d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0zm10.5 12a10.43 10.43 0 0 1-.833 4.096l-6.937-5.498-1.281-8.986C18.554 2.322 22.5 6.703 22.5 12zM10.55 1.612l-1.29 8.986-6.927 5.498A10.43 10.43 0 0 1 1.5 12c0-5.296 3.946-9.678 9.05-10.388zM12 22.5a10.485 10.485 0 0 1-8.097-3.822L12 15.418l8.097 3.26A10.485 10.485 0 0 1 12 22.5z"></path></svg>
                </div>
                <p style="font-family: Arial; text-align: justify"><b>Benz: </b>Experience exceptional care for your Benz at our certified service center. Our expert technicians use state-of-the-art equipment and genuine parts to ensure your vehicle runs smoothly and safely. Trust us for routine maintenance, diagnostics, and repairs, all delivered with unparalleled customer service.</p>
            </div>
            </a>

        
            <a href="https://www.audi.in/in/web/en/customer-area/service-warranty.html" style="text-decoration: none; color: black;">
                <div class = "audi" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 28rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;">
                        <svg style="padding:2rem 1rem 2rem 1rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="audi" width = "125" height = 100% ><path d="M4.5 16.5C2.019 16.5 0 14.481 0 12s2.019-4.5 4.5-4.5S9 9.519 9 12s-2.019 4.5-4.5 4.5zm0-7.5c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z"></path><path d="M9.5 16.5C7.019 16.5 5 14.481 5 12s2.019-4.5 4.5-4.5S14 9.519 14 12s-2.019 4.5-4.5 4.5zm0-7.5c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z"></path><path d="M14.5 16.5c-2.481 0-4.5-2.019-4.5-4.5s2.019-4.5 4.5-4.5S19 9.519 19 12s-2.019 4.5-4.5 4.5zm0-7.5c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z"></path><path d="M19.5 16.5c-2.481 0-4.5-2.019-4.5-4.5s2.019-4.5 4.5-4.5S24 9.519 24 12s-2.019 4.5-4.5 4.5zm0-7.5c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z"></path></svg>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Audi: </b>Keep your Audi in peak condition with our dedicated service center. Our skilled technicians provide comprehensive maintenance and repair services using advanced tools and genuine Audi parts. Enjoy prompt, reliable service tailored to your vehicle's needs, ensuring optimal performance and longevity.</p>
                </div>
            </a> 
            
            <a href="https://www.marutisuzuki.com/service" style="text-decoration: none; color: black;">
                <div class = "Suzuki" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 28rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;">
                        <svg style="padding:3rem 1rem 3.6rem 1rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="suzuki"  width = "85" height = 100%><path d="M11.966 24a.494.494 0 0 1-.286-.09L.214 15.914a.5.5 0 0 1-.024-.803c.224-.177 5.538-4.304 9.656-1.729a.499.499 0 1 1-.529.848c-2.823-1.764-6.552.342-7.948 1.27l10.535 7.347c3.894-3.913 8.453-5.887 10.416-6.608L8.474 6.71a.5.5 0 1 1 .566-.824l14.646 10.081a.51.51 0 0 1 .234.444.496.496 0 0 1-.351.462c-.062.019-6.373 1.905-11.244 6.975a.497.497 0 0 1-.359.152z"></path><path d="M15.243 18.202a.49.49 0 0 1-.283-.088L.313 8.034a.51.51 0 0 1-.234-.444.496.496 0 0 1 .351-.462C.492 7.109 6.803 5.223 11.674.153A.498.498 0 0 1 12.32.09l11.466 7.996a.501.501 0 0 1 .013.811c-.23.172-5.695 4.181-9.807 1.611a.5.5 0 0 1 .529-.849c2.832 1.769 6.647-.265 8.093-1.171L12.096 1.152C8.202 5.065 3.643 7.039 1.68 7.76l13.847 9.53a.5.5 0 0 1-.284.912z"></path></svg>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Suzuki: </b>Ensure your Suzuki remains in excellent condition at our authorized service center. Our experienced technicians offer a full range of services, from regular maintenance to intricate repairs, using genuine Suzuki parts. Trust us to keep your vehicle performing at its best with prompt and dependable service.</p>
                </div>
             </a>  

            <a href="https://cars.tatamotors.com/service.html" style="text-decoration: none; color: black;">
                <div class = "Tata" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 28rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;">
                        <svg style="padding:2rem 1rem 2rem 1rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414.72 352.36" id="tata" width = "125" height = 100%><path fill="#1b1918" fill-rule="evenodd" d="M45.52,246.67H120v22.4H98.21V324H67.29v-54.9H45.52ZM200.63,51.49c51,0,94.35,22,110.07,52.56A431.1,431.1,0,0,0,215,90.81c-3.86-.13-7.09,1.14-8.41,4.83a17.27,17.27,0,0,0-.9,5.18c-.09,2.16.77,97.19.86,106.44q-2.94.11-5.91.1t-5.67-.09c.08-9.22.95-104.28.86-106.45a17.27,17.27,0,0,0-.9-5.18c-1.32-3.69-4.56-5-8.41-4.83a431.3,431.3,0,0,0-96,13.31c15.7-30.62,59.07-52.63,110.12-52.63Zm115,65.8A53,53,0,0,1,317,129.43c0,34.15-32.82,63.17-78.49,73.7-1.68-7.1-8.34-35.77-16-74.46a57.2,57.2,0,0,1-.83-12c.36-6.28,3.05-9.6,10.35-9.6,6.72,0,56.63,1.52,83.53,10.24ZM163,203.19c-45.79-10.49-78.72-39.56-78.72-73.76a53.21,53.21,0,0,1,1.38-12.05c26.84-8.8,77.06-10.33,83.8-10.33,7.3,0,10,3.32,10.35,9.6a56.75,56.75,0,0,1-.84,12c-7.65,38.79-14.32,67.51-16,74.52ZM197,246.67h74.46v22.4H249.72V324H218.8v-54.9H197Zm67.2,77h30L310,277.22l15.78,46.43h30l-29.31-77H293.54Zm-151.51,0h30l15.77-46.43,15.78,46.43h30l-29.32-77H142Z"></path></svg>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Tata: </b>Maintain your Tata vehicle's reliability at our professional service center. Our expert technicians are equipped to handle all your maintenance and repair needs with precision and care. Using genuine Tata parts, we ensure your vehicle stays in top shape, offering peace of mind and excellent performance.</p>
                </div>
            </a>  

            <a href="https://www.hyundai.com/in/en/connect-to-service/hyundai-service/book-a-service" style="text-decoration: none; color: black;">
                <div class = "Hyundai" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 28rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;">
                        <svg style="padding:2rem 1rem 1rem 1rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" id="hyundai" width = "125" height = 100%><path d="M20 27.68c8.28 0 15-3.44 15-7.68s-6.72-7.68-15-7.68S5 15.76 5 20s6.72 7.68 15 7.68m2.82-3.77a4.24 4.24 0 0 1-1.67 2.31 2.67 2.67 0 0 1-1 .24H20a26 26 0 0 1-7.5-1.05h-.08c-.2-.06-.3-.16-.3-.27a.33.33 0 0 1 .12-.24l.14-.12a17.25 17.25 0 0 1 4.82-2.59A23 23 0 0 1 20.73 21c.76-.16 3.58-.6 2.09 2.87m7.58-7.74a.34.34 0 0 1 .26-.18.58.58 0 0 1 .31.1c1.76 1.09 2.8 2.44 2.8 3.91 0 2.65-3.4 4.92-8.27 5.92-.31.06-.52.06-.59 0s-.07-.13 0-.24a1.08 1.08 0 0 1 .13-.18 39.39 39.39 0 0 0 5.24-9.07l.12-.24m-13.18-.1a4.24 4.24 0 0 1 1.67-2.31 2.48 2.48 0 0 1 1-.23H20a26.41 26.41 0 0 1 7.51 1h.08q.3.09.3.27a.34.34 0 0 1-.13.24l-.13.12a17.51 17.51 0 0 1-4.82 2.58A24.91 24.91 0 0 1 19.32 19c-.77.16-3.59.59-2.1-2.88m-2.72-2c.31-.06.52-.06.6 0a.21.21 0 0 1 0 .24.77.77 0 0 1-.13.17 39.39 39.39 0 0 0-5.24 9.07c0 .1-.09.19-.12.25a.29.29 0 0 1-.25.17.51.51 0 0 1-.36-.12c-1.76-1.08-2.8-2.44-2.8-3.9 0-2.65 3.4-4.93 8.27-5.92"></path></svg>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Hyundai: </b>Visit our Hyundai service center for top-notch maintenance and repair services. Our trained professionals utilize the latest technology and genuine Hyundai parts to keep your vehicle running efficiently. From routine check-ups to complex repairs, we deliver quality service you can rely on.</p>
                </div>
            </a>  

            <a href="https://www.kia.com/in/service/iot-experience/service-booking.html" style="text-decoration: none; color: black;">
                <div class = "kia" style="background-color: #FAEDED;  border-radius: 2rem; border: solid #3B577C 1px; width: 20rem;padding: 1rem; height: 28rem;">
                    <div style="background-color: white;border-radius: 2rem; margin: 0 0 2rem;">
                        <svg style="padding:4.5rem 1rem 2.6rem 1rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1039.6 288" id="kia" width = "140" height = 100%><path d="M80.2 52.7C35.3 79.5 30.6 82.9 25.5 92.5l-2.8 5.4-.3 73.5c-.2 72.4-.2 73.5 1.8 76.8 1.7 2.4 4.1 4.3 6.8 5.5 4.7 2.2 5.3 2.2 59.7 2.2 44.1 0 55.8-.3 59-1.4 2.2-.7 29.6-16.7 60.8-35.4l56.8-34.1 9.2 9c5.1 4.9 20.9 20.5 35.2 34.6s27.3 26.2 28.8 26.8c3 1.1 107.2 1.5 110.1.4.8-.2 1.5-.9 1.6-1.8 0-.6-24.8-25.9-55.1-56.2-38-38-55-55.7-54.6-56.7.8-2.1 150.7-91.9 152.3-91.3 1.1.4 1.4 18.1 1.6 97.3.3 92 .4 97 2.2 100.5 1.3 2.4 3.2 4.5 5.5 6 2.4 1.5 5.1 2.3 7.9 2.3l73.2.3c79 .3 86.6 0 93.4-3.5 1.7-.9 54.2-34.7 116.6-75.1s114.1-73.5 115-73.6c1.3-.1 1.6 8.6 2 77.9l.5 78 2.1.3c3.2.5 90.8-52.6 95.6-57.9 6.9-7.6 6.8-5.8 6.8-87.4V41.8l-2.2-4.4c-4.1-8.1-3.5-8-49.8-8-37.7 0-40.8.2-44.7 2-2.3 1-74.3 47.2-160 102.6-85.7 55.5-156.7 100.8-157.8 100.8-2 .1-2-.7-2.5-96.4-.5-94-.6-96.6-2.5-100.4-1.2-2.3-2.8-4.3-4.8-6-2.8-2.1-3.5-2.1-87.5-2.1h-84.7l-6.5 3.6c-3.6 2-68.9 41-145.2 86.7-76.3 45.8-139.2 83.2-139.8 83.2-.5 0-1.1-.1-1.2-.3-.2-.1-.5-39.6-.8-87.7-.5-86.6-.5-87.5-2.5-87.7-1.1-.2-20.6 10.8-44.5 25z"></path></svg>
                    </div>
                    <p style="font-family: Arial; text-align: justify;"><b>Kia: </b>Enhance your Kia vehicle’s performance with our specialized service center. Our expert technicians offer comprehensive maintenance and repair services using cutting-edge equipment and genuine parts. Enjoy personalized support designed to meet the specific needs of your vehicle.</p>
                </div>
            </a>  

        </div>
         <form>
    <input style="position: absolute; top: 1500px; left: 1080px;" type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
</form>

    

</section>



</body>
</html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S for service</title>
    <link rel="stylesheet" href="/styles/style1.css">
</head>
<head>
  <title>Link Redirection Example</title>
</head>
<body>
  
  <div class="card bg-dark text-white">
  <img class="card-img" src="https://img.freepik.com/premium-photo/blue-car-garage-with-white-car-background_265515-9142.jpg?w=1060" alt="Card image">
  <div class="card-img-overlay">
    <h1 style="font-size: 50px;font-family: Palatino Linotype; position: absolute; top: 100px; left: 100px; color: rgb(255, 255, 255)" >WELCOME TO TRANSPORTATION SERVICE</h1>
    <p style="position: absolute; top: 200px; left: 200px;font-size: 35px;font-family: Palatino Linotype;color: rgb(255, 255, 255)">Enter a place to find nearby vehicle service centers</p>
    <div style="position: absolute; top: 400px; left: 650px;">
    <form action="/user/service/transportation/vehiclecenters" method="get">
        <label for="content" style="color: white;">Enter a place:</label>
        <input type="text" id="content" name="content">
        <button style="background-color: rgb(12, 73, 126); color: white;" type="submit">submit</button>
        <form>
    <input type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(12, 73, 126); color: white;">
</form>

    </form>
</div>
  </div>
</div>


</body>
</html>
