<body style="margin: 0;padding: 0; height: 100%; width: 100%;">
<section>
    <div style="background-color: #DBF3ED; display: flex;align-items: center;justify-content: center; margin-bottom: -0.5rem;" >  
        <h2 style="text-align: center; color: #502587; font-family: monospace; font-size: 2rem; margin:0 15rem 0 0rem">F I N A N C E<br>S E R V I C E S</h2>
        <img src = "https://cdn-icons-png.freepik.com/256/3341/3341846.png?ga=GA1.1.1428116939.1719931993&semt=ais_hybrid" style="height: max-content; width: 20%;margin:12rem 0 12rem 8rem;">
    </div>
    <hr>

    <div class = "Bank_details" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Nearby Bank details</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Find your nearest bank and manage your finances with ease and confidence.</p>
            </div>
            <div>
                <a href = "/user/service/finance/finance_nearby_bank" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Tax" style="background-color: #EEECFF; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
            <h1 style="font-size: 4rem;">Tax & Insurance</h1>
            <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Price is what you pay. Value is what you get.</p> 
        </div>
        <div>
            <a href = "/user/service/finance/finance_tax_and_insurance" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
        </div>    
    </div>

    <div class = "Loan" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between;margin-bottom: 2rem;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Loan Details</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">The most important thing to do if you find yourself in a hole is to stop digging.</p>
            </div>
            <div>
                <a href = "/user/service/finance/finance_loan_details" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Back to home page" style="text-align: center; margin-bottom: 2rem;">
        <a href = "/user" style="text-decoration: none; padding: 0.5rem 9rem 0.5rem 9rem; text-align: center;border: solid black 2px; border-radius: 0.5rem; box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.5);">Back to home page</a>
    </div>

</section>
</body>
