<body style="margin: 0;padding: 0; height: 100%; width: 100%;">
<section>
    <div style="background-color: #DBF3ED; display: flex;align-items: center;justify-content: center; margin-bottom: -0.5rem;" >  
        <h2 style="text-align: center; color: #502587; font-family: monospace; font-size: 2rem; margin:0 16rem 0 0rem">G O V E R N M E N T<br>S E R V I C E S</h2>
        <img src = "https://s3.amazonaws.com/mobileappdaily/mad/uploads/mad_blog_5eb3ae3d0de701588833853.png" style="margin-top: 10rem; height: 100%; width: 25%; margin-bottom: 10rem;">
    </div>
    <hr>

    <div class = "Aadhar related Services" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Aadhar related Services</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Nearest Govt offices for Aadhar/land registration offices.</p>   
            </div>
            <div>
                <a href = "https://uidai.gov.in/en/my-aadhaar/avail-aadhaar-services.html" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Passport Services" style="background-color: #EEECFF; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
            <h1 style="font-size: 4rem;">Passport Services</h1>
            <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Passport centre details/VISA or Passport Consultant details.</p>   
        </div>
        <div>
            <a href = "https://www.passportindia.gov.in/AppOnlineProject/welcomeLink#" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
        </div>    
    </div>

    <div class = "Government Schemes" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Government Schemes</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Government scheme details for farmers / women / students etc</p>
            </div>
            <div>
                <a href = "/user/service/government/government_government_schemes" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>
    <div class = "Approval Centers" style="background-color: #EEECFF; margin-top: -0.5rem; display:flex;justify-content: space-between;margin-bottom: 2rem;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Approval Centers</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Housing plan approval / borewell / water supply approval<br> details / centers.</p>
            </div>
            <div>
                <a href = "#" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 3rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Coustomer queries" style="background-color: #FAEDED; margin-top: -3rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Coustomer queries</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Ration card/ voter id centers to address the customer queries.<br>Pension /pf / gratuity consultant details.</p>
            </div>
            <div>
                <a href = "/user/service/government/government_customer_queries" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 3rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Back to home page" style="text-align: center; margin-bottom: 2rem;">
        <a href = "/user" style="text-decoration: none; padding: 0rem 9rem 0.5rem 9rem; text-align: center;border: solid black 2px; border-radius: 0.5rem; box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.5);">Back to home page</a>
    </div>
</section>
</body>
