<body style="margin: 0;padding: 0; height: 100%; width: 100%;">
<section>
    <div style="background-color: #DBF3ED; display: flex;align-items: center;justify-content: center; margin-bottom: -0.5rem;" >
        <h2 style="text-align: center; color: #502587; font-family: monospace; font-size: 2rem; margin:0 20rem 0 0rem">H E A L T H<br>S E R V I C E S</h2>
        <img src = "https://cdn-icons-png.freepik.com/256/3762/3762812.png?ga=GA1.1.1428116939.1719931993&semt=ais_hybrid" style="height: max-content; width: 25%; margin: 12rem 0 7rem 8rem;">
    </div>
    <hr>

    <div class = "Book your appointments" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Book your appointments</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Schedule your appointments effortlessly and stay on top of your commitments.</p>
               
            </div>
            <div>
                <a href = "/user/service/health/bookappointments" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Nearby" style="background-color: #EEECFF; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
            <h1 style="font-size: 4rem;">Nearby Hospital Services</h1>
            <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Schedule your appointments effortlessly and stay on top of your commitments..</p>
        </div>
        <div>
            <a href = "/user/service/health/health_nearby_health_centers" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
        </div>    
    </div>

    <div class = "Emergency" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Emergency Services</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Swift and reliable emergency services, here for you when it matters most.</p>
            </div>
            <div>
                <a href = "/user/service/health/health_emergency_services" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Elder" style="background-color: #EEECFF; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Elder care and Nurse Services</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.2rem;">Compassionate care and professional nursing services for your loved ones, right at home.</p>
            </div>
            <div>
                <a href = "https://care24.co.in/elder-care/" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Pharmacy" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between;margin-bottom: 2rem;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Nearby Pharmacy</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Your trusted pharmacy, just around the corner for all your health needs.</p>
            </div>
            <div>
                <a href = "/user/service/health/Health_nearby_pharmacy" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Back to home page" style="text-align: center; margin-bottom: 2rem;">
        <a href = "/user" style="text-decoration: none; padding: 0.5rem 9rem 0.5rem 9rem; text-align: center;border: solid black 2px; border-radius: 0.5rem; box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.5);">Back to home page</a>
    </div>
</section>
</body>
