<body style="margin: 0;padding: 0; height: 100%; width: 100%;">
<section>
    <div style="background-color: #DBF3ED; display: flex;align-items: center;justify-content: center; margin-bottom: -0.5rem;" >
        <h2 style="text-align: center; color: #502587; font-family: monospace; font-size: 2rem; margin:0 16rem 0 0rem">H O U S I N G<br>S E R V I C E S</h2>
        <img src = "https://img.freepik.com/premium-photo/real-estate-houses-logo-design-blue-background-3d-rendering-illustration_585146-67.jpg" style="margin-top: 10rem; height: 100%; width: 25%; margin-bottom: 10rem;">
    </div>
    <hr>

    <div class = "institutions_details" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Community Helper details</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Alone, we do so little; together, we can so so much.</p>       
            </div>
            <div>
                <a href = "#" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Industry_Training" style="background-color: #EEECFF; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
            <h1 style="font-size: 4rem;">Food & Water Supply</h1>
            <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Details on nearby Food, Water suppliers.</p>     
        </div>
        <div>
            <a href = "/user/service/housing/housing_food_and_water_supply" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
        </div>    
    </div>

    <div class = "Arts" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">House Renting / Purchase</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Details about House Renting/Purchase</p>
            </div>
            <div>
                <a href = "/user/service/housing/housing_house_rent_and_purchase" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Learning" style="background-color: #EEECFF; margin-top: -0.5rem; display:flex;justify-content: space-between;margin-bottom: 2rem;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Maid Contacts</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Hard work, low pay, and a mother's will to survive.</p>
            </div>
            <div>
                <a href = "#" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Arts" style="background-color: #FAEDED; margin-top: -3rem; display:flex;justify-content: space-between;padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Home Services</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Details about nearby Electricians, Plumbers,<br>Carpenters, Painters, etc.</p>
            </div>
            <div>
                <a href = "/user/service/housing/housing_house_service" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 3rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Back to home page" style="text-align: center; margin-bottom: 3rem;">
        <a href = "/user" style="text-decoration: none; padding: 0rem 9rem 0.5rem 9rem; text-align: center;border: solid black 2px; border-radius: 0.5rem; box-shadow: 15px 0 15px 0 rgba(0, 0, 0, 0.5);">Back to home page</a>
    </div>
</section>
</body>