<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Create service provider account</h2>
            <form action="/signup" method="post">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="Name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label>Profession</label>
                    <input type="text" class="form-control" name="Profession" placeholder="Enter profession">
                </div>
                <div class="form-group">
                    <label>Specialization</label>
                    <input type="text" class="form-control" name="Specialization" placeholder="Enter specialization">
                </div>
                <div class="form-group">
                    <label>Region</label>
                    <input type="text" class="form-control" name="Region" placeholder="Enter region or place">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                <a href="/signup">Not a service provider ?</a>
                <button type="submit" class="bin btn-primary float-right">Signup</button>
            </form>
        </div>
    </div>
</div>