<body style="margin: 0;padding: 0; height: 100%; width: 100%;">
<section>
    <div style="background-color: #DBF3ED; display: flex;align-items: center;justify-content: center; margin-bottom: -0.5rem;" >
        <h2 style="text-align: center; color: #502587; font-family: monospace; font-size: 2rem; margin:0 4rem 0 5rem">T R A N S P O R T A T I O N <br>S E R V I C E S</h2>
        <img src="https://www.freeiconspng.com/uploads/world-transportation-icon-png-8.png" width="600" alt="world transportation icon png" style="margin-top: 12rem; margin-bottom: 2rem;" /></a>
    </div>
    <hr>

    <div class = "OLA AND UBER" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between; padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">OLA and Uber services</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Connecting you to your destination with ease and reliablity</p>
                <img src = "https://cdn.iconscout.com/icon/free/png-512/free-ola-282225.png?f=webp&w=256" style="width: 100px; margin-left: 2rem;">
            </div>
            <div>
                <a href = "/user/service/transportation/OLAandUBER" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 5rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Vehicle service center" style="background-color: #EEECFF; margin-top: -0.5rem; display:flex;justify-content: space-between; padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
            <h1 style="font-size: 4rem;">Vehicle Service Centers</h1>
            <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Your trusted partner for quick and reliable vehicle care, <br>just around the corner.</p>           
        </div>
        <div>
            <a href = "/user/service/transportation/vehicleservicecenters" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 3rem;display: inline-block;margin-right: 2rem;">Click here!</a>
        </div>    
    </div>

    <div class = "Public transportation timings" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between; padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Nearby Transit Stations </h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Stay on schedule with real-time updates for your nearest bus <br>station.</p>
            </div>
            <div>
                <a href = "/user/service/transportation/Nearby_Transit_Stations" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 3rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Travel Booking" style="background-color: #EEECFF; margin-top: -0.5rem; display:flex;justify-content: space-between; padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Travel Booking</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Book your next adventure with ease and confidence.</p>
            </div>
            <div>
                <a href = "/user/service/transportation/transportation_travel_booking" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 2rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Buy and Selling" style="background-color: #FAEDED; margin-top: -0.5rem; display:flex;justify-content: space-between;margin-bottom: 2rem; padding:2rem 0 2rem 0">
        <div style="margin-left: 2rem;">
                <h1 style="font-size: 4rem;">Buy and Selling</h1>
                <p style="font-family: 'Courier New', Courier, monospace;font-weight: bold;font-size: 1.3rem;">Discover great deals and seamless transactions for all your<br>buying and selling needs.</p>
            </div>
            <div>
                <a href = "/user/service/transportation/transportation_olx" style="color:white;background: #502587; padding:1rem 2rem 1rem;border-radius: 2rem;font-size: 1.3rem;text-decoration: none;margin-top: 3rem;display: inline-block;margin-right: 2rem;">Click here!</a>
            </div>    
    </div>

    <div class = "Back to home page" style="text-align: center; margin-bottom: 2rem;">
        <a href = "/user" style="text-decoration: none; padding: 0.5rem 9rem 0.5rem 9rem; text-align: center;border: solid black 2px; border-radius: 0.5rem; box-shadow: 10px 0 15px 0 rgba(0, 0, 0, 0.5);">Back to home page</a>
    </div>
</section>
</body>
