<body style="background-image: url('https://images.unsplash.com/photo-1510906594845-bc082582c8cc?q=80&w=2044&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center; text-align: center;">
    <div class="container">
        <img src="/images/eleos-logo.png" alt="Eleos Logo" class="logo">
    </div>
    <div
        style=" text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div style="text-align: center; font-family:Bahnschrift SemiBold; font-color=white">
            <h1 style= "color:white ;margin-top: 5rem;font-family: Bahnschrift Condensed;font-size: 5rem;">Contact Us</h1>
        </div>

        <div style="display: flex; gap: 5rem;align-items: center;justify-content: center;">
            <a href="mailto:techtitansacc2024@gmail.com">
                <div style="background-color: white; border-radius: 50%; margin:2rem 0rem 0rem 2rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="-14 -14 90 90"
                        style="isolation:isolate" id="message">
                        <defs>
                            <clipPath id="a">
                                <rect width="64" height="64"></rect>
                            </clipPath>
                        </defs>
                        <g clip-path="url(#a)">
                            <path
                                d=" M 59.277 8.849 L 4.723 8.849 C 3.62 8.849 3.454 9.368 4.354 10.007 L 30.543 28.594 C 31.347 29.418 32.653 29.418 33.457 28.594 L 59.646 10.007 C 60.546 9.368 60.38 8.849 59.277 8.849 Z ">
                            </path>
                            <path
                                d=" M 62 14 L 62 48.25 C 62 50.32 60.32 52 58.25 52 L 5.75 52 C 3.68 52 2 50.32 2 48.25 L 2 14 C 2 12.896 2.728 12.523 3.625 13.166 L 30.543 32.486 C 31.347 33.311 32.653 33.311 33.457 32.486 L 60.375 13.166 C 61.272 12.523 62 12.896 62 14 Z ">
                            </path>
                        </g>
                    </svg>
                </div>
            </a>

            <a href="mailto:techtitansacc2024@gmail.com">
                <div style="background-color: white; border-radius: 6rem; margin:2rem 0rem 0rem 2rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 16 16"
                        id="at-the-rate">
                        <path fill="#212121"
                            d="M8,1.75 C11.4517797,1.75 14.25,4.54822031 14.25,8 C14.25,9.80742408 13.0135064,11.25 11.5,11.25 C10.7718695,11.25 10.228308,10.9601566 9.85802182,10.4461667 C9.3942456,10.9425378 8.7610343,11.25 8,11.25 C6.30972991,11.25 5.25,9.73331481 5.25,8 C5.25,6.26668519 6.30972991,4.75 8,4.75 C8.51089834,4.75 8.96419044,4.88856458 9.34802449,5.12979351 C9.47633743,4.90312299 9.72028682,4.75 10,4.75 C10.3796958,4.75 10.693491,5.03215388 10.7431534,5.39822944 L10.75,5.5 L10.75,8 C10.75,9.2431283 11.0311264,9.75 11.5,9.75 C12.1293508,9.75 12.75,9.02590926 12.75,8 C12.75,5.37664744 10.6233526,3.25 8,3.25 C5.37664744,3.25 3.25,5.37664744 3.25,8 C3.25,10.6233526 5.37664744,12.75 8,12.75 C8.39547699,12.75 8.78387496,12.7018233 9.15931645,12.6077024 L9.43837639,12.5285319 L9.63309584,12.46203 C10.02206,12.319623 10.4528214,12.5194971 10.5952285,12.9084613 C10.7257682,13.2650117 10.5686968,13.6566835 10.2420103,13.8291758 L10.1487972,13.8705939 L9.8920303,13.9582865 C9.28499588,14.1508955 8.64872748,14.25 8,14.25 C4.54822031,14.25 1.75,11.4517797 1.75,8 C1.75,4.54822031 4.54822031,1.75 8,1.75 Z M8,6.25 C7.27681721,6.25 6.75,7.00398066 6.75,8 C6.75,8.99601934 7.27681721,9.75 8,9.75 C8.72318279,9.75 9.25,8.99601934 9.25,8 C9.25,7.00398066 8.72318279,6.25 8,6.25 Z">
                        </path>
                    </svg>
                </div>
            </a>
            <a href="mailto:techtitansacc2024@gmail.com">
                <div style=" background-color: white;border-radius: 6rem; margin:2rem 0rem 0rem 2rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" viewBox="0 0 32 32" id="phone">
                        <path
                            d="M27.308,20.649l-2.2-2.2a3.521,3.521,0,0,0-4.938-.021,2.152,2.152,0,0,1-2.729.267A15.026,15.026,0,0,1,13.3,14.562a2.181,2.181,0,0,1,.284-2.739A3.521,3.521,0,0,0,13.553,6.9l-2.2-2.2a3.514,3.514,0,0,0-4.961,0l-.633.634c-3.3,3.3-3.053,10.238,3.813,17.1,4.14,4.141,8.307,5.875,11.686,5.875a7.5,7.5,0,0,0,5.418-2.061l.634-.634A3.513,3.513,0,0,0,27.308,20.649ZM25.894,24.2l-.634.634c-2.6,2.6-8.339,2.125-14.276-3.813S4.571,9.34,7.171,6.74L7.8,6.107a1.511,1.511,0,0,1,2.133,0l2.2,2.2a1.511,1.511,0,0,1,.021,2.11,4.181,4.181,0,0,0-.531,5.239,17.01,17.01,0,0,0,4.713,4.706,4.179,4.179,0,0,0,5.231-.517,1.512,1.512,0,0,1,2.118.013l2.2,2.2A1.51,1.51,0,0,1,25.894,24.2Z">
                        </path>
                    </svg>
                </div>
            </a>


            <a
                href="https://www.google.com/maps/place/Mar+Baselios+College+of+Engineering+and+Technology+(Autonomous)/@8.5490531,76.9359473,17z/data=!3m1!4b1!4m6!3m5!1s0x3b05b93fa775ed55:0x6f7096ccc9590ffc!8m2!3d8.5490531!4d76.9385222!16zL20vMGNkcjk4?entry=ttu">
                <div
                    style=" background-color: white;border-radius: 6rem; margin:2rem 0rem 0rem 2rem;text-align: center;">
                    <div
                        style=" background-color: white;border-radius: 6rem; padding:2rem 0rem 0rem 2rem; width: 6.5rem; height: 6.5rem; ">
                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left:-0.7rem;margin-top:-0.5rem;"
                            width="160" height=120 id="location">
                            <g fill="#134563">
                                <path
                                    d="m32 55.7-.9-1.1c-.6-.8-15.9-18.7-15.9-29.4 0-9.3 7.6-16.8 16.8-16.8S48.8 16 48.8 25.2c0 10.7-15.3 28.7-15.9 29.4l-.9 1.1zm0-45c-8 0-14.4 6.5-14.4 14.4 0 8.4 11.1 22.7 14.4 26.8 3.3-4.1 14.4-18.3 14.4-26.8 0-7.9-6.4-14.4-14.4-14.4z">
                                </path>
                                <path
                                    d="M32 31.6c-3.5 0-6.4-2.9-6.4-6.4s2.9-6.4 6.4-6.4 6.4 2.9 6.4 6.4-2.9 6.4-6.4 6.4zm0-10.4c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4z">
                                </path>
                            </g>
                        </svg>
                    </div>
                </div>
            </a>

            <form>
                <input style="position: absolute; top: 500px; left: 590px;margin-top:20rem;" type="button"
                    value="Go Back" onclick="history.back()"
                    style="background-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
            </form>

        </div>

    </div>

</body>