<!DOCTYPE html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Learn More</title>
</head>
<body style="margin: 0;padding: 0; height: 100%; width: 100%; background-color: #FAEDED;">
<section style="background-color: #FAEDED;margin-top: -3rem; text-align: center;margin-bottom: 10rem;">
    <h1 style="font-family: calibri; font-size: 6rem;margin-bottom: 10rem; margin-top: 15rem;">Learn More</h1>

    
        <div class = "container" style="display: flex; align-items: center; justify-content: center;">

            <div class = "learn" style="background-color: #DBF3ED; border-radius: 2rem; border: solid #3B577C 1px; width: 80rem;  margin: 0rem 4rem 0rem 0rem; padding: 1rem;">
                <div style=" margin: 0.3rem 0 2rem;; background-color: white; border-radius: 2rem;">
            
                </div>
                <p style="font-family: Arial; text-align: center"><b>Integrated Common Services To Common People</b> aims at providig a one stop solution for essential services. We provide Transportation, Health, Finance, Education, Housing and Government Services all under one roof. Using our Transportation Services you can book cabs, know public transport timings, book bus, train and airline tickets, buy and sell vehicles, and find transit stations near you.Health services let you book appointments, find elder care, nursing and emergency services, and locate nearby Hospitals and pharmacies. Finance services assist you with tax and insurance payments, getting loans and finding nearby banks. Educational services provide you with a vast array of learning materials, industrial training, job aid, arts sports and cultural activities and help you find nearby educational institutions. Government services give you streamlined access to Aadhar related services, Passport services, Government schemes, approval centers and customer queries. Housing services provide options for renting/purchasing houses, maid contacts, food and water supply details, and community helper details. Further, our team aims at providing an improved selection of services to the common man through continuous updates and technological innovation.</p>
            </div>


            <form>
    <input style="position: absolute; top: 800px; left: 590px;margin-top:5rem;" type="button" value="Go Back" onclick="history.back()" style="background-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
</form>
    



</section>
</body>
</html>